/* 
INTERACTIVE BRANDING PROJECT CODE
COPYRIGHT (C) 2020 GYU MI AN, TAE SOL BEE. ALL RIGHTS RESERVED.
*/

PImage tex;
color boxColor;
float x = 0, y = 0;
float w, h;
float tw, th;
float stepSize = 5.0;

// ------ constrain ------


void setup() {
  size(800, 800, P3D);
  boxColor = color(0, 51, 102); 
//  noCursor();
  cursor(CROSS);

// ------ mouse variable ------
  x = mouseX;
  y = mouseY;
  
// ------ default ------
  w = width/2;
  h = height/2;

// ------ translate ------
  tw = 0;
  th = 0;

}

void draw() {
  background(12, 122, 225);
  translate(tw, th);
    
// ------ light ------ 
//  ambientLight(102, 102, 102);
  pointLight(255, 255, 255, mouseX, mouseY, mouseX);
  lightSpecular(204, 204, 204);
  float s = map(mouseX, 0, width, 1, 10);
  shininess(s);
  
//  directionalLight(102, 102, 102, 0, 0, -1);
//  specular(255, 0, 255); // light color

// ------ sun ------
  pushMatrix();
  translate(w, h, -width*5); 
  noStroke();
  fill(255, 255, 255);
  sphere(100);
  popMatrix();

// ------ light direction ------
//  stroke(255, 255, 0);
//  strokeWeight(4);
//  point(mouseX, mouseY);
  
  
// ------ buildings ------ 
  fill(255, 255, 255);
  stroke(255, 255, 255);
  strokeWeight(1);
 
  //building_1
  pushMatrix();
  translate(0, height/2, -height/4);
  rotate(120);;
  box(300, 300, 2000);//box1
  popMatrix();
  
  //building_2
  pushMatrix();
  translate(width/2, 0, -height/4);
  rotate(120);
  box(200, 300, 2000);//box2
  popMatrix();

  //building_3
  pushMatrix();
  translate(width, height, 0); 
  box(400, 400, 3000);//box2
  popMatrix();


  if (mousePressed) {
// ------ translate control ------
    translate(x, y);
    
    tw = -width/2+x;  
    th = -height/2+y;

// ------ mouse control ------    
    float d = dist(x, y, mouseX, mouseY);

    if (d > stepSize) {
      float angle = atan2(mouseY-y, mouseX-x);
      
      x = x + cos(angle) * stepSize;
      y = y + sin(angle) * stepSize; 
    
    }
    
  }
  
}
